html{
    display: flex;
    flex-direction: row;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background: url('./muropedrarustico.jpg');
}

#content{
    gap: 15px;
    background-color: white;
    /* background-color: goldenrod; */
    min-width: 70vw;
    max-width: 70vw;
    min-height: 85vh;
    max-height: 85vh;
    border: 10px solid rgb(9, 48, 94);
}

.tab{
    margin: 10px;
    margin-bottom: 0;
    border: none;
    background-color: gainsboro;
    /* background-color: orange; */
    color: black;
    font-size: 20px;
    font-weight: bold;
    min-width: 8rem;
    min-height: 3rem;
    /* border-start-start-radius: 25px; */
    /* border-start-end-radius: 25px; */
}

.tab:hover{
    background-color: yellow;
}

.tab:focus{
    background-color: white;
    color: goldenrod;
    text-shadow: 1px 1px 3px black;

    /* border: 10px solid rgb(9, 48, 94);
    border-bottom: none; */
    /* background-color: goldenrod; */
}

.title{
    margin-top: 0;
    padding-top: 10px;
    text-shadow: 1px 1px 3px black;
    color: goldenrod;
}

form{
    display: grid;
    grid-template-columns: 5rem 15rem 5rem;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
}

form label{
    grid-column: 1;
    text-align: end;
}

form input, textarea, button{
    grid-column: 2 / 3;
    font-size: 20px;
}

form textarea{
    height: 20rem;
}

form button{
    background-color: gainsboro;
    border: none;
}

form button:hover{
    background-color: gray;
}
/*
footer{
    color: white;
    background-color: black;
} */

