html{
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

#content{
    gap: 15px;
    background-color: goldenrod;
    min-width: 90vw;
    min-height: 85vh;
    /* border-radius: 45px; */
}

.tab{
    margin: 10px;
    margin-bottom: 0;
    border: none;
    background-color: orange;
    color: black;
    font-size: 20px;
    font-weight: bold;
    min-width: 8rem;
    min-height: 3rem;
    /* border-start-start-radius: 25px; */
    /* border-start-end-radius: 25px; */
}

.tab:hover{
    background-color: yellow;
}

.tab:focus{
    background-color: goldenrod;
}

.title{
    margin-top: 0;
    padding-top: 10px;
}

form{
    display: grid;
    grid-template-columns: 5rem 20rem 5rem;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
}

form label{
    grid-column: 1;
    text-align: end;
}

form input, textarea, button{
    grid-column: 2 / 3;
    font-size: 20px;
}

form textarea{
    height: 20rem;
}
/*
footer{
    color: white;
    background-color: black;
} */

